<div class="container mt-5 mb-5">

 <h2 class="text-center p-4" id="contacto">Contacto</h2>
 <div class="row ">
  <div class="col-md-6 offset-md-3  ">
    <ul class="list-group list-group-light">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <i class="fas fa-envelope fa-2x"></i>
          <div class="ms-3">
            <p class="fw-bold mb-1">Abel Acevedo</p>
            <p class="text-muted mb-0">
              <a class="btn btn-rounded text-white bg-hover bg-color-mail" role="button" mdbRipple href="mailto:marzoa3581@gmail.com"><i class="fas fa-link "></i></a>
            </p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Active</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <i class="fas fa-mobile-alt fa-2x"></i>
          <div class="ms-3">
            <p class="fw-bold mb-1">Celular</p>
            <p class="text-muted mb-0"><Code>+54</Code> 1170197183</p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Active</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <i class="fab fa-linkedin fa-2x"></i>
          <div class="ms-3">
            <p class="fw-bold mb-1">LinkedIn</p>

            <a class="btn btn-rounded btn-info bg-hover " target="_blank" href="https://www.linkedin.com/in/abel-fernando-acevedo"  role="button" mdbRipple><i class="fas fa-link "></i></a>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Active</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <i class="fab fa-github-alt fa-2x"></i>
          <div class="ms-3">
            <p class="fw-bold mb-1">Github</p>

           <!-- Github -->
            <a class="btn text-white btn-rounded bg-hover bg-color-git" target="_blank" href="https://github.com/Abel3581" role="button" mdbRipple>
              <i class="fas fa-link "></i>
            </a>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Active</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <i class="fab fa-gitlab fa-2x "></i>
          <div class="ms-3">
            <p class="fw-bold mb-1">Gitlab</p>

           <!-- Gitlab -->
            <a class="btn text-white btn-rounded bg-hover bg-color-gitlab" target="_blank" href="https://gitlab.com/Abel_Fer_Acevedo
            " role="button" mdbRipple>
            <i class="fas fa-link "></i>
            </a>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Active</span>
      </li>
    </ul>
  </div>
 </div>


</div>

