<div class=" p-5 ">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Back End</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="p-2">
    <ul class="justify-content-center list-group list-group-horizontal-md ">
      <li class="list-group-item text-info"><a>Java</a></li>
      <li class="list-group-item text-info"><a>Spring Boot</a></li>
      <li class="list-group-item text-info"><a>Maven</a></li>
    </ul>
    <ul class="justify-content-center list-group list-group-horizontal-md">
      <li class="list-group-item text-danger"><a>Gradle</a></li>
      <li class="list-group-item text-danger"><a>Quarkus</a></li>
      <li class="list-group-item text-danger"><a>Spring Security</a></li>

    </ul>
    <ul class="justify-content-center list-group list-group-horizontal-md">
      <li class="list-group-item text-warning"><a>Jpa</a></li>
      <li class="list-group-item text-warning"><a>Hibernate</a></li>
      <li class="list-group-item text-warning"><a>Postman</a></li>

    </ul>
    <ul class="justify-content-center list-group list-group-horizontal-md">
      <li class="list-group-item text-success"><a>Swagger</a></li>
      <li class="list-group-item text-success"><a>Mockito</a></li>
      <li class="list-group-item text-success"><a>Junit</a></li>

    </ul>
    <ul class="justify-content-center list-group list-group-horizontal-md">
      <li class="list-group-item text-primary"><a>Microservicios</a></li>
      <li class="list-group-item text-primary"><a>PostgreSQL</a></li>
      <li class="list-group-item text-primary"><a>MongoDB</a></li>

    </ul>
    <ul class="justify-content-center list-group list-group-horizontal-md">
      <li class="list-group-item text-secondary"><a>Monolitica</a></li>
      <li class="list-group-item text-secondary"><a>Mysql</a></li>
      <li class="list-group-item text-secondary"><a>Arq-Capas</a></li>
    </ul>
    <ul class="justify-content-center list-group list-group-horizontal-md">
      <li class="list-group-item text-warning"><a>WebServices</a></li>
      <li class="list-group-item text-warning"><a>Api Rest</a></li>
      <li class="list-group-item text-warning"><a>Soap</a></li>

    </ul>
    <ul class="justify-content-center list-group list-group-horizontal-md">
      <li class="list-group-item text-info"><a>Funcional</a></li>
      <li class="list-group-item text-info"><a>POO</a></li>
      <li class="list-group-item text-info"><a>Php</a></li>

    </ul>
    <ul class="justify-content-center list-group list-group-horizontal-md">
      <li class="list-group-item text-danger"><a>Python</a></li>
      <li class="list-group-item text-danger"><a>Docker</a></li>
      <li class="list-group-item text-danger"><a>Aws</a></li>
    </ul>
    <ul class="justify-content-center list-group list-group-horizontal-md">
      <li class="list-group-item text-success"><a>GCP</a></li>
      <li class="list-group-item text-success"><a>Api Restful</a></li>
      <li class="list-group-item text-success"><a >Síncrona</a></li>

    </ul>
    <ul class="justify-content-center list-group list-group-horizontal-md">
      <li class="list-group-item text-success"><a>Asíncrona</a></li>
    </ul>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cerrar
    </button>
  </div>
</div>
