<div class="container  ">
  <h1 class="text-center mt-5 mb-5">Educación</h1>

  <div class="row " style="height: auto;">
    <section>
      <!-- Primera columna-->

      <div class="col-md-5 mb-5 ">
        <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
          <div class="card-body pb-1">
            <div class="ms-2 me-auto">
              <div class="fw-bold ">Universidad Nacional de General Sarmiento. </div>
              <div class="fw-bold"> <span class="badge badge-warning rounded-pill justify-content-end">2018 -
                  actualmente</span></div>
              <p style="font-size: 13px;">
                Licenciatura en sistemas y Técnico Universitario en Informática.<br>
                Promediando tercer año.
              </p>


            </div>
          </div>
        </div>

        <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
          <div class="card-body pb-1">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Centro Universitario Vicente Lopez</div>
              <div class="fw-bold"><span class="badge badge-warning rounded-pill">2023</span></div>
              <p style="font-size: 13px;">
                Bootcam Angular. carga horaria 100hs.
              </p>
            </div>
          </div>
        </div>
        <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
          <div class="card-body">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Besysoft Pilar Bs As </div>
              <div class="fw-bold"><span class=" badge badge-warning rounded-pill">2023</span></div>
              <p style="font-size: 13px;">
                Besysoft Bootcamp Java Spring Boot.
                carga horaria 100 hs.

              </p>
            </div>
          </div>
        </div>
        <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
          <div class="card-body pb-1">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Alkemy Academy </div>
              <div class="fw-bold"><span class="badge badge-warning rounded-pill">2021</span></div>
              <p style="font-size: 13px;">
                Aceleración en java job-ready, carga horaria 42 hs.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Segunda columna y linea medio -->

      <div class="col-md-5 order-5 mb-5" style="position: relative;">

        <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
          <div class="card-body pb-1">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Polotic misiones </div>
              <div class="fw-bold"><span class="badge badge-warning rounded-pill">2021</span></div>
              <p style="font-size: 13px;">
                Programación web full Stack con java. Carga horaria 100hs.
              </p>
            </div>
          </div>
        </div>
        <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
          <div class="card-body pb-1">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Centro Universitario Vicente Lopez </div>
              <div class="fw-bold"><span class="badge badge-warning rounded-pill">2020</span></div>
              <p style="font-size: 13px;">
                Programación web html, css, javascript. carga
                horaria 42 hs.<br> Programacion back end php.
                carga horaria 42 hs
              </p>
            </div>
          </div>
        </div>
        <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
          <div class="card-body pb-1">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Potrero Digital </div>
              <div class="fw-bold"><span class="badge badge-warning rounded-pill">2020</span></div>
              <p style="font-size: 13px;">
                Programación web html, css,
                javascript. carga horaria 42 hs.
              </p>
            </div>
          </div>
        </div>
        <!-- Línea vertical -->
        <div class="vertical-line"></div>
      </div>
      <!--Linea del medio-->
      <div class="col-2">

      </div>

    </section>
  </div>
</div>
