<div class="container mt-5 mb-5 bg-color">
  <!-- Fuyll stack -->
  <section>
    <div class="container mt-5">
      <h2 class="text-center " id="proyectos" data-aos="zoom-in">Front y Full Stack</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col " data-aos="fade-right">
          <div class="card h-100">
            <div class="hover-zoom">
              <img src="assets/img/ecommerce780x520.jpg" class="card-img-top" alt="Skyscrapers" />
            </div>

            <div class="card-body">
              <h5 class="card-title">Ecommerce Powerfit</h5>
              <p class="card-text">
              </p>
              <div class="badge bg-primary text-wrap">
                #Angular #java #spring-boot
              </div>
            </div>
            <div class="card-footer ">
              <!-- Github -->
              <a class="btn text-white me-1" target="_blank" href="https://github.com/Abel3581/powerfit-ecommerce"
                style="background-color: #333333;" role="button" mdbRipple>
                <i class="fab fa-github"></i> Github
              </a>
              <a class="btn text-white" target="_blank" href="https://youtu.be/tsfhSiXNHmg"
                style="background-color: #ed302f;" role="button" mdbRipple>
                <i class="fab fa-youtube"></i> Youtube
              </a>
              <!-- https://youtu.be/tsfhSiXNHmg -->
            </div>
          </div>
        </div>
        <div class="col" data-aos="zoom-in">
          <div class="card h-100">
            <div class="hover-zoom">
              <img src="assets/img/ecosport780x520.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Ecommerce Ecologico Sport</h5>
              <p class="card-text"></p>
              <div class="badge bg-primary text-wrap">
                #React #java #spring-boot
              </div>
            </div>
            <div class="card-footer">
              <!-- Github -->
              <a class="btn text-white" target="_blank" href="https://github.com/Abel3581/s4-06-m-backend-nuevo"
                style="background-color: #333333;" role="button" mdbRipple>
                <i class="fab fa-github"></i> Github
              </a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-left">
          <div class="card h-100">
            <div class="hover-zoom">
              <img src="assets/img/consultorio780x520.jpg" class="card-img-top" alt="Palm Springs Road" />
            </div>

            <div class="card-body">
              <h5 class="card-title">Consultorio médico</h5>
              <p class="card-text">

              <div class="badge bg-primary text-wrap">
                #Html5 #css3 #JavaScript #Bootstrap
              </div>
            </div>
            <div class="card-footer ">
              <!-- Github -->
              <a class="btn text-white me-1" target="_blank" href="https://github.com/Abel3581/consultorioMedico"
                style="background-color: #333333;" role="button" mdbRipple>
                <i class="fab fa-github"></i> Github
              </a>
              <a class="btn text-white" target="_blank" href="https://abel3581.github.io/consultorioMedico/"
                style="background-color: #55acee;" role="button" mdbRipple>
                <i class="fas fa-external-link-alt"></i> Deploy
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col " data-aos="fade-right">
          <div class="card h-100">
            <div class="hover-zoom">
              <img src="assets/img/prestamo780x520.jpg" class="card-img-top" alt="Logo Prestamos" />
            </div>

            <div class="card-body">
              <h5 class="card-title">Prestamos</h5>
              <p class="card-text">

              </p>
              <div class="badge bg-primary text-wrap">
                #Angular #java #spring-boot #Micro
              </div>
            </div>
            <div class="card-footer ">
              <!-- Github -->
              <a class="btn text-white me-1" target="_blank" href="https://github.com/No-Country/S10-14-FT-Java-Angular"
                style="background-color: #333333;" role="button" mdbRipple>
                <i class="fab fa-github"></i> Github
              </a>
              <a class="btn text-white" target="_blank" href="https://youtu.be/9vEAoj_j3eM"
                style="background-color: #ed302f;" role="button" mdbRipple>
                <i class="fab fa-youtube"></i> Youtube
              </a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="zoom-in">
          <div class="card h-100">
            <div class="hover-zoom">
              <img src="assets/img/cv-nuevo.png" class="card-img-top" alt="Los Angeles Skyscrapers" />
            </div>

            <div class="card-body">
              <h5 class="card-title">Ejemplo CV online</h5>
              <p class="card-text"> </p>
              <div class="badge bg-primary text-wrap">
                #Html5 #css3 #JavaScript #Bootstrap
              </div>
            </div>
            <div class="card-footer ">
              <!-- Github -->
              <a class="btn text-white me-1" target="_blank" href="https://github.com/Abel3581/CV-FULL-STACK"
                style="background-color: #333333;" role="button" mdbRipple>
                <i class="fab fa-github"></i> Github
              </a>
              <a class="btn text-white" target="_blank" href="https://abel3581.github.io/CV-FULL-STACK/"
                style="background-color: #55acee;" role="button" mdbRipple>
                <i class="fas fa-external-link-alt"></i> Deploy
              </a>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-left">
          <div class="card h-100">
            <div class="hover-zoom">
              <img src="assets/img/bigquery.jpg" class="card-img-top"
                alt="Palm Springs Road" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Analisis de datos BigQuery 'GCP'</h5>
              <p class="card-text"> </p>
              <div class="badge bg-primary text-wrap">
                #java-spring-boot #Angular #BigQuery #gcp
              </div>
            </div>
            <div class="card-footer">
              <!-- Github -->
              <a class="btn text-white me-1" href="https://github.com/Abel3581/consultas-bigQuery-gcp" target="_blank" style="background-color: #333333;" role="button" mdbRipple>
                <i class="fab fa-github"></i> Github
              </a>
              <a class="btn text-white" target="_blank" href="https://youtu.be/rs9aLfxuLeY"
              style="background-color: #ed302f;" role="button" mdbRipple>
              <i class="fab fa-youtube"></i> Youtube
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col" data-aos="fade-right">
          <div class="card h-100">
            <div class="hover-zoom">
              <img src="assets/img/centros-medicos780x520.png" class="card-img-top" alt="Logo Prestamos" />
            </div>

            <div class="card-body">
              <h5 class="card-title">Agenda Medica</h5>
              <p class="card-text">

              </p>
              <div class="badge bg-primary text-wrap">
                #Angular #java #spring-boot #Mercado Pago
              </div>
            </div>
            <div class="card-footer ">
              <!-- Github -->
              <a class="btn text-white me-1" target="_blank" href="https://github.com/CodeLatAm/gestion-turnos-front"
                style="background-color: #333333;" role="button" mdbRipple>
                <i class="fab fa-github"></i> Github
              </a>
              <a class="btn text-white" target="_blank" href="https://youtu.be/2btqOxyBJOc"
                style="background-color: #ed302f;" role="button" mdbRipple>
                <i class="fab fa-youtube"></i> Youtube
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Back end -->
  <section>
    <div class="container mt-5">
      <h2 class="text-center" id="back-end" data-aos="zoom-in">Back End</h2>
      <div class=" row ">
        <div class="card col-md-8 offset-md-2 justify-content-center mt-5" data-aos="fade-right" data-aos-offset="300"
          data-aos-easing="ease-in-sine">
          <mdb-accordion [borderless]="true">
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>Reservas de vuelos</ng-template>
              <ng-template mdbAccordionItemBody>
                <p class="card-text"><span style="color: #EC407A; font-weight: bold;">Tecnologias:</span>
                  ✅Maven✅monolith-architecture
                  ✅JDK 11
                  ✅PostgreSQL
                  ✅Spring boot
                  ✅jpa
                  ✅Spring-Security✅ mockito✅ junit✅ hibernate-jpa</p>
                <a class="btn text-white btn-sm me-1" target="_blank" href="https://github.com/Abel3581/book-flights"
                  style="background-color: #333333;" role="button" mdbRipple>
                  <i class="fab fa-github"></i> Github
                </a>
              </ng-template>
            </mdb-accordion-item>
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>Tienda para ventas de chocolates</ng-template>
              <ng-template mdbAccordionItemBody>
                <p class="card-text "><span style="color: #EC407A; font-weight: bold;">Tecnologias:</span>
                  ✅Maven✅monolith-architecture
                  ✅JDK 11
                  ✅PostgreSQL
                  ✅Spring boot
                  ✅jpa
                  ✅Spring-Security✅ mockito✅ junit✅ hibernate-jpa</p>
                <a class="btn text-white me-1 btn-sm" target="_blank"
                  href="https://github.com/Abel3581/Catalogo-Chocolates" style="background-color: #333333;"
                  role="button" mdbRipple>
                  <i class="fab fa-github"></i> Github
                </a>
              </ng-template>

            </mdb-accordion-item>
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>Fiados</ng-template>
              <ng-template mdbAccordionItemBody>
                <p class="card-text"><span style="color: #EC407A; font-weight: bold;">Tecnologias:</span>
                  ✅Maven✅monolith-architecture
                  ✅JDK 11
                  ✅PostgreSQL
                  ✅Spring boot
                  ✅jpa
                  ✅Spring-Security✅ mockito✅ junit✅ hibernate-jpa</p>
                <a class="btn text-white me-1 btn-sm" target="_blank" href="https://github.com/Abel3581/s2-01-t"
                  style="background-color: #333333;" role="button" mdbRipple>
                  <i class="fab fa-github"></i> Github
                </a>
              </ng-template>
            </mdb-accordion-item>
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>MY STORE - Pagina de compra venta</ng-template>
              <ng-template mdbAccordionItemBody>
                <p class="card-text"><span style="color: #EC407A; font-weight: bold;">Tecnologias:</span> ✅Maven
                  ✅monolith-architecture
                  ✅JDK 11
                  ✅PostgreSQL
                  ✅Spring boot
                  ✅jpa
                  ✅Spring-Security✅ mockito✅junit✅hibernate-jpa</p>

                <a class="btn text-white me-1 btn-sm" target="_blank" href="https://github.com/Abel3581/c3-g23-t"
                  style="background-color: #333333;" role="button" mdbRipple>
                  <i class="fab fa-github"></i> Github
                </a>
              </ng-template>
            </mdb-accordion-item>
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>Proyecto ONG</ng-template>
              <ng-template mdbAccordionItemBody>
                <p class="card-text"><span style="color: #EC407A; font-weight: bold;">Tecnologias:</span> ✅Maven
                  ✅monolith-architecture,
                  ✅JDK 11
                  ✅Sql
                  ✅Spring boot
                  ✅jpa ✅aws
                  ✅Spring-Security ✅mockito ✅junit ✅hibernate-jpa</p>

                <a class="btn text-white me-1 btn-sm" target="_blank" href="https://github.com/Abel3581/OT120-SERVER"
                  style="background-color: #333333;" role="button" mdbRipple>
                  <i class="fab fa-github"></i> Github
                </a>
              </ng-template>
            </mdb-accordion-item>
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>Juego Wordle</ng-template>
              <ng-template mdbAccordionItemBody>
                <p class="card-text"><span style="color: #EC407A; font-weight: bold;">Tecnologias:</span>

                  ✅Java-11
                  ✅Swing
                </p>

                <a class="btn text-white me-1 btn-sm" target="_blank" href="https://github.com/Abel3581/wordle"
                  style="background-color: #333333;" role="button" mdbRipple>
                  <i class="fab fa-github"></i> Github
                </a>
              </ng-template>
            </mdb-accordion-item>
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>Casa de eventos</ng-template>
              <ng-template mdbAccordionItemBody>
                <p class="card-text"><span style="color: #EC407A; font-weight: bold;">Tecnologias:</span>
                  Java-11
                  ✅Spring boot 2.7.4
                  ✅lombok
                  ✅Builder
                  ✅Spring security
                  ✅Programacion funcional
                  ✅Arquitectura en capas MVC
                  ✅Swagger
                  ✅JWT TOKEN
                  ✅Base de datos Mysql
                  ✅jpa-hibernate
                  ✅aws para las imagenes
                  ✅Mercado pago
                  ✅Login con Google
                </p>

                <a class="btn text-white me-1 btn-sm" target="_blank"
                  href="https://github.com/Abel3581/s5-02-t-java-react-back" style="background-color: #333333;"
                  role="button" mdbRipple>
                  <i class="fab fa-github"></i> Github
                </a>
              </ng-template>
            </mdb-accordion-item>
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>Compañero ideal</ng-template>
              <ng-template mdbAccordionItemBody>
                <p class="card-text"><span style="color: #EC407A; font-weight: bold;">Tecnologias:</span>
                  Java-11
                  ✅Spring boot 2.7.4
                  ✅lombok
                  ✅Builder
                  ✅Spring security
                  ✅Programacion funcional
                  ✅Arquitectura en capas MVC
                  ✅Swagger
                  ✅JWT TOKEN
                  ✅Base de datos Mysql
                  ✅jpa-hibernate
                  ✅aws para las imagenes

                </p>

                <a class="btn text-white me-1 btn-sm" target="_blank"
                  href="https://github.com/Abel3581/s3-03-t-back-end" style="background-color: #333333;" role="button"
                  mdbRipple>
                  <i class="fab fa-github"></i> Github
                </a>
              </ng-template>
            </mdb-accordion-item>
          </mdb-accordion>
        </div>

      </div>

    </div>
  </section>
  <!-- Tecnologias -->
  <section>
    <div class="container mt-5 mb-5">
      <h2 class="text-center" id="tecnologias">Tecnologías</h2>
      <div class="d-flex justify-content-around mt-5">
        <button type="button" class="btn btn-outline-success btn-hover" mdbRipple rippleColor="dark"
          (click)="openModalFront()">Front End</button>
        <button type="button" class="btn btn-outline-warning  btn-hover" mdbRipple rippleColor="dark"
          (click)=" openModal()">Idioma</button>
        <button type="button" class="btn btn-outline-danger btn-hover" mdbRipple rippleColor="dark"
          (click)="openModalBack()">Back End</button>

      </div>

    </div>
  </section>



</div>
