<div class="container mt-5 mb-5 bg-color">
  <section>
    <h2 class="text-center ">Sobre mí</h2>
    <article>
      <div class="card mt-5" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
        <div class="card-body shadow-inner">
          <p class="p-sobre-mi">
            Soy un programador Java altamente capacitado, en busca de oportunidades desafiantes. Con experiencia
            en el desarrollo de aplicaciones robustas y eficientes, ofrezco habilidades avanzadas en programación
            orientada a objetos y resolución de problemas. Capaz de trabajar tanto de forma independiente como en
            equipos, estoy comprometido a contribuir con soluciones tecnológicas de alta calidad.</p>
        </div>
      </div>
    </article>
    <article>
      <!-- Experiencia -->
      <div class="row mt-5" style="height: auto;">
        <div class="col-md-5 mb-5 ">
          <h2 class=" mb-5 text-center ">Experiencia </h2>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Programador Java <span
                    class="badge badge-warning rounded-pill justify-content-end">Enero 2021 - Actual </span> </div>
                <div class="fw-bold">TAG Soluciones Free lance</div>
                <!-- <div class="fw-bold">
                  <img class="" src="assets/img/tags.png" alt="no-country">
                </div> -->
                <p style="font-size: 12px;">
                  <li>
                    Desarrollé software adaptado a requerimientos específicos del cliente.
                  </li>
                  <li>Implementé arquitectura monolítica y microservicios API Restful.</li>
                  <li>Modelé y creé capas de desarrollo.</li>
                  <li>Colaboré en el desarrollo tanto del backend como del frontend utilizando Java y Angular.
                  </li>
                  <li>Participé activamente en reuniones diarias de Scrum, retrospectivas y planificación de sprint.
                  </li>

                  <span class="font"><span class="bg-info border-1 rounded-2 p-1 text-white">Referencia:</span> Tomas
                    Padilla, Tel:
                    <span class="text-danger">+41</span>
                    79 400 26 93.</span>
                </p>
              </div>
            </div>
          </div>
          <!-- nuevo empleo -->
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Programador back-end | Node.js | Express | MongoDB Atlas  <span
                    class="badge badge-warning rounded-pill justify-content-end">Junio 2024 - Actual </span> </div>
                <!-- <div class="fw-bold">Xlab Igrowker</div> -->
                <div class="fw-bold">
                  <img class="img-style rounded-2 p-1" src="assets/img/igrowker.png" alt="Igrowker">
                </div>
                <p style="font-size: 12px;">
                  <li>
                    Desarrollo desde cero en toda la etapa de la app.
                  </li>
                  <li>Cree arquitectura en capas, Modele Schemas.</li>
                  <li>Integre Stripe pasarela de pagos y OpenStreetMap.</li>
                  <li>Participé activamente en reuniones diarias de Scrum, retrospectivas y planificación de sprint.
                  </li>

                  <span class="font"><span class="bg-info border-1 rounded-2 p-1 text-white">Referencia:</span>

                    <span class="text-danger"></span>

                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Programador Java Full Stack <span class="badge badge-warning rounded-pill">Mayo
                    2023 -
                    Octubre</span></div>
                <div class="fw-bold">
                  <img class="img-style rounded-2" src="assets/img/no-country.png" alt="no-country">
                </div>
                <p class="pt-1" style="font-size: 13px;">
                  <li>Desarrollé componentes, modelos, guards e interceptores para establecer una conexión robusta con
                    el
                    backend.</li>
                  <li>Implementé endpoints y confi guraciones para consumir servicios externos.</li>
                  <li>Realicé integraciones exitosas con Mercado Pago y almacenamiento en AWS S3.</li>
                  <span class="font"><span class="bg-info border-1 rounded-2 p-1 text-white">Referencia:</span> Gabriel
                    Navarro, Tel: <span class="text-danger">+54</span>
                    9 261 598-3473.</span>
                </p>
              </div>
            </div>
          </div>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Programador Java <span class=" badge badge-warning rounded-pill">Febrero 2023 -
                    Mayo 2023</span></div>
                <div class="fw-bold"><img class="img-softtek rounded-2" src="assets/img/Softtek-logo.png"
                    alt="Logo de Softtek">
                </div>
                <p class="pt-1" style="font-size: 13px;">
                  <li>Contribuí al proyecto OSDE Cartilla Médica, llevando a cabo el desarrollo y mantenimiento en
                    microservicios SOAP y Quarkus, asegurando la entrega puntual de las tareas asignadas.</li>
                  <li>Participé activamente en reuniones diarias de Scrum, retrospectivas y planificación de sprint.
                  </li>
                  <button type="button" class="btn btn-outline-info btn-style  " mdbRipple rippleColor="dark"
                    onclick="window.open('https://www.osde.com.ar/index.html#!cartilla.html', '_blank')">Ir al
                    Proyecto</button>

                </p>
              </div>
            </div>
          </div>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Programador Java Back End <span class=" badge badge-warning rounded-pill">Marzo
                    2022 -
                    Febrero 2023</span></div>
                <div class="fw-bold">
                  <img class="img-style rounded-2" src="assets/img/no-country.png" alt="no-country">
                </div>
                <p class="pt-1" style="font-size: 13px;">
                  <li>Desarrollé nuevas funcionalidades en proyectos API RESTfull monolíticos.</li>
                  <li>Modelado UML y confi guración de seguridad con tokens JWT.</li>
                  <li>Apliqué programación funcional y diseñé bases de datos en entornos MySQL y PostgreSQL.</li>
                  <li>Implementación de patrones de diseño y arquitecturas API RESTful en capas, monolíticas y basadas
                    en
                    microservicios.</li>
                  <span class="font"><span class="bg-info border-1 rounded-2 p-1 text-white">Referencia:</span> Gabriel
                    Navarro, Tel: <span class="text-danger">+54</span>
                    9 261 598-3473.</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Semillero -->
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Programador Java Back End <span class=" badge badge-warning rounded-pill">Marzo
                    2022 -
                    Febrero 2023</span></div>
                <div class="fw-bold">
                  <img class="img-style rounded-2" src="assets/img/semillero-png.png" alt="Semillero">
                </div>
                <p class="pt-1" style="font-size: 13px;">
                  <li>Desarrollé nuevas funcionalidades, gestioné el envío de correos
                    electrónicos, procesé pagos y llevé a cabo operaciones CRUD en
                    arquitectura WebServices.</li>
                  <li>Logré implementar Mercado Pago y completé oportunamente los tickets asignados.</li>
                  <li>Participé activamente en reuniones diarias de Scrum, retrospectivas y planificación de sprint.
                  </li>
                  <!-- <span class="font"><span class="bg-info border-1 rounded-2 p-1 text-white">Referencia:</span>
                  <span class="text-danger">+54</span>
                  </span> -->
                </p>
              </div>
            </div>
          </div>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Programador Java Back End <span class="badge badge-warning rounded-pill">Diciembre
                    2021 - febrero 2022</span></div>
                <div class="fw-bold"><img class="img-softtek" src="assets/img/alkemy.png" alt="Logo de Alkemy"></div>
                <p style="font-size: 13px;">
                  <li>Desarrollé una Api Rest Full para una ONG utilizando Java Spring Boot.</li>
                  <li>Diseñé las capas controller, repository y service, y creé los endpoints correspondientes.</li>
                  <li>Contribuí al desarrollo de la seguridad utilizando Spring Security.</li>
                  <li>Participé activamente en reuniones diarias de Scrum, retrospectivas y planificación de sprint.
                  </li>
                </p>
              </div>
            </div>
          </div>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Secretario <span class="badge badge-warning rounded-pill">Enero 2010 - diciembre
                    2021</span></div>
                <div class="fw-bold"><img class="img-softtek" src="assets/img/logo-pami.png" alt="Logo de Pami"></div>
                <p style="font-size: 13px;">
                  <li>Recepcion, turnos, recetas, data entry.
                  </li>
                  <span class="font"><span class="bg-info border-1 rounded-2 p-1 text-white">Referencia:</span> Victor
                  Acevedo, Tel: <span class="text-danger">+54</span>
                   1151608064.</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!--Segunda columna -->
        <div class="col-md-5 order-5 mb-5" style="position: relative;">
          <h2 class=" mb-5 text-center ">Educación </h2>

          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold ">Universidad Nacional de General Sarmiento. </div>
                <div class="fw-bold"> <span class="badge badge-warning rounded-pill justify-content-end">2018 -
                    actualmente</span></div>
                <p style="font-size: 13px;">
                  Licenciatura en sistemas y Técnico Universitario en Informática.<br>
                  Promediando tercer año.
                </p>
              </div>
            </div>
          </div>

          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Potrero Digital</div>
                <div class="fw-bold"><span class="badge badge-warning rounded-pill">2024 - actualmente</span></div>
                <p style="font-size: 13px;">
                  <li>AWS re/Start, Soluciones en la nube.</li>
                  <li>Certificacion oficial AWS.</li>
                </p>
              </div>
            </div>
          </div>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Besysoft Pilar Bs As </div>
                <div class="fw-bold"><span class=" badge badge-warning rounded-pill">2023</span></div>
                <p style="font-size: 13px;">
                  Besysoft Bootcamp Java Spring Boot.
                  Carga horaria 100 hs.

                </p>
              </div>
            </div>
          </div>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Alkemy Academy </div>
                <div class="fw-bold"><span class="badge badge-warning rounded-pill">2021</span></div>
                <p style="font-size: 13px;">
                  Aceleración en java job-ready, carga horaria 42 hs.
                </p>
              </div>
            </div>
          </div>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Polotic misiones </div>
                <div class="fw-bold"><span class="badge badge-warning rounded-pill">2021</span></div>
                <p style="font-size: 13px;">
                  Programación web full Stack con java. Carga horaria 100hs.
                </p>
              </div>
            </div>
          </div>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Centro Universitario Vicente Lopez </div>
                <div class="fw-bold"><span class="badge badge-warning rounded-pill">2020</span></div>
                <p style="font-size: 13px;">
                  Programación web html, css, javascript. carga
                  horaria 42 hs.<br> Programacion back end php.
                  carga horaria 42 hs.
                </p>
              </div>
            </div>
          </div>
          <div class="card mt-2 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
            <div class="card-body pb-1">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Potrero Digital </div>
                <div class="fw-bold"><span class="badge badge-warning rounded-pill">2020</span></div>
                <p style="font-size: 13px;">
                  Programación web html, css,
                  javascript. carga horaria 42 hs.
                </p>
              </div>
            </div>
          </div>
          <!-- Línea vertical -->
          <div class="vertical-line vr vr-blurry"></div>
          <!-- <div class="vr vr-blurry" style="height: auto;"></div> -->
        </div>
        <!--Linea del medio-->
        <div class="col-2">

        </div>
      </div>
    </article>
  </section>

</div>
