
<div class="container mt-6 mb-8 height"style="max-width: 650px;">
  <h2 class="text-center mt-5 mb-5">Certificados de experiencia</h2>
  <div class="carousel-inner rounded-5 shadow-4-strong">
    <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
      <mdb-carousel-item>
        <img
          src="assets/img/cert-potrero2.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-dark">Potrero Digital</h5>
          <p class="text-dark">Programación Front End</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/certti-besysoft.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-dark">Empresa Besysoft</h5>
          <p class="text-dark">Bootcam Java Spring Boot</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/certti-alkemy.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-dark">Alkemy</h5>
          <p class="text-dark">Aceleración Java job-ready</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/seleccionado-1.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>No Country</h5>
          <p>Seleccionado 1</p>
        </div>
      </mdb-carousel-item>

      <mdb-carousel-item>
        <img
          src="assets/img/seleccionado-2.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>No Country</h5>
          <p>Seleccionado 2</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/seleccionado-3.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>No Country</h5>
          <p>Seleccionado 3</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/seleccionado-4.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>No Country</h5>
          <p>Seleccionado 4</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/seleccionado-5.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>No Country</h5>
          <p>Seleccionado 5</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/seleccionado-6.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>No Country</h5>
          <p>Seleccionado 6</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/certificado-2023.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>No Country</h5>
          <p>Seleccionado 7</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/cert-front.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-dark">Centro Universitario Vicente López</h5>
          <p class="text-dark">Programación Web</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/cert-php.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-dark">Centro Universitario Vicente López</h5>
          <p class="text-dark">Programación Back-End</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/Cert-semillero.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-dark">Quinto Impacto</h5>
          <p class="text-dark">Programación Full Stack Java</p>
        </div>
      </mdb-carousel-item>

    </mdb-carousel>
  </div>

</div>

